<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= simple_form_for(@search) do |f| %>
  <%= f.input :address, as: :text %>
  <%= f.input :distance, as: :text %>
  <%= f.button :submit %>
<% end %>

<p>connect as user</p>
<p>connect as cooker</p>


